
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1{
  font-family: 'Sintony', sans-serif;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}
h2{
  text-align: center;
}.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.centerDiv{
    text-align:center;
    position:relative;
    margin:auto;
}
.page {
  float: left;
  width: 100%;
}
.inside{
  position: relative;
  min-height: 100vh;
}

#Introduction {
  background-color: white;
  height: 100%;
  color:#353535!important;
}
#Education {
  background-color: #353535;
  margin: 0;
}
#Designs {
  background-color: white;
  margin: 0;
}
#Artworks {
  background-color: #353535;
  margin: 0;
}
#Projects{
  background: radial-gradient(white,#dadada);
  background: -webkit-radial-gradient(white,#dadada);
  background: -moz-radial-gradient(white,#dadada);
  margin: 0;
}
#ContactMe{
  background-color: #353535;
  margin: 0;
}
/***************Loading Icon**************************************/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #353535;
}
/***************Loading Icon**************************************/
/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 9; /* Stay on top */
   top: 0;
   left: 0;
   font-family: 'Poppins', sans-serif;
   background-color: #353535;
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav div{
  padding-top: 50%;
}
/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   display: block;
   transition: left 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
/*************Animate Toggle*******************/
.c-hamburger {
  display: block;
  position: fixed;
  overflow: hidden;
  width: 60px;
  height: 60px;
  font-size: 0;
  margin: 20px;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  z-index:10;
  background: rgba(1,1,1,0.6);
  border-radius: 10%;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 28px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #fff ;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -15px;
}

.c-hamburger span::after {
  bottom: -15px;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
button{
  background: none;
}
/*************Animate Toggle*******************/

#Introduction .inside{
  height: 100vh!important;
}
#Introduction .inside .row>div{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}
#myPicture{
  display:block;
  margin: 0px auto ;
  border-radius:  50%;
  border: solid #353535 2px;
  height: 200px;
  width:  200px;
}
#name{
  font-family: 'Sintony', sans-serif;
  text-align: center;
}
#profession{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}
#socialLinks svg{
  width: 45px;
  height: 45px;
  margin: 0 10px 0px;
  position: relative;
  margin-top: 0px;
}
#socialLinks{
  margin-top: 20px;
  height: inherit;
  display:block
}
#Education, #Artworks, #ContactMe{
  padding-top: 0px;
  color: white!important;
}
#Education .mainHeading h1, #Artworks .mainHeading h1, #ContactMe .mainHeading h1{
  background: white;
  color: #353535;
}
#Education>.container-fluid>.row{
  width: 70%;
}
.heading{
  text-align: center;
  color: white;
  width: 100%;
  border: 2px solid white;
  margin-bottom: 40px;
}
.container-fluid{
  width: 100%;
}
.mainHeading h1{
  font-size: 4em;
  margin-bottom: 40px;
}
.single-exp{
  position: relative;
  height: 100%;
  width: 100%;
}
.single-exp{
  padding: 0;
  height: 100%;
  /****fix div no height****/
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row{
  /****fix div no height****/
    overflow: hidden;
}
.single-exp::before {
    background-color: white;
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 2px;
  }
.last::before{
  width: 0px;
}
  .single-exp div{
    height: 100%;
  }
.exp-no{
  position: absolute;
  left:0px;
  border: 2px solid white;
  padding: 10px 15px;
  background: #353535;
  color:white;
}
p{
white-space: initial;
display: inline;
}
.exp-year{
  text-align: center;
  left:0px;
  padding: 8px 15px;
  font-weight: bold;
  position: absolute;
  text-align: cnter;
  width: 100%;
}
.exp-other{
  text-align: left;
  padding-bottom: 30px;
  padding-left: 25px;
}
.timeline{
  width: 100%;
}

#Education span{
  white-space: initial;
}
.timeline h4{
  display: inline;
}
.timeline h4::before{
  display: block;
  content: "";
  margin: 10px;
}
.ExpOrEd{
  margin-top: 20px;
}
.exp-institute{
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}
#expTimeline .exp-details{
  display: block;
  padding-bottom: 60px;
}

#Designs, #Projects{
  color: #353535!important;
}
#Designs .mainHeading h1, #Projects .mainHeading h1{
  background: #353535;
  color: white;
  margin-bottom: 20px;
}
.grid{
  width: 60%;
  margin-top: 40px;
  position: relative;}

.content {
  width: auto;
	margin: 0 auto;
}

.item {
	display: block;
	float: left;
	width: 150px;
	margin: 0 10px 10px 0;
  transition: all 0.5s;
  transform-origin: center;
  box-shadow: 10px 10px 10px rgba(1,1,1,0.15);
}

.item img {
	width: 100%;
	height: auto;
  transition: all 0.5s;
}
.item:hover{
    box-shadow: 10px 10px 10px rgba(1,1,1,0.5);
}
.item img:hover{
  cursor: pointer;
  transform: scale(1.5,1.5);
}
.displayImage{
  z-index: 6!important;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1,1,1,0.5);
  display: none;

  flex-direction: column;
  justify-content: center;
}

.cross{
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
}
.cross::before{
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  right: 0px;
  top:20px;
  background: white;
  /*border: 2px solid pink;*/
  z-index: 5;
  transform: rotate(45deg);
}
.cross::after{
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  right: 0px;
  top:20px;
  background: white;
  /*border: 2px solid pink;*/
  z-index: 5;
  transform: rotate(-45deg);
}
.cross:hover{
  cursor: pointer;
}
.imageLarge{
  /*z-index:6;*/
}
.imageLarge img{
  max-width:90vw;
  max-height:90vh;
}
.button{
  color:white;
  background-color: #353535;
  width: 20%;
  transition: all 0.5s;
  display: inline-block!important;
}
.button:hover{
  color:#353535;
  background: white;
  cursor: pointer;
  border: 2px solid #353535;
}

.linkButton{
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 70px;
  padding: 20px 20px 0px;
  color: #353535;
}

.linkButton input{
  padding: 10px;
  width: 20%;
  transition: all 0.5s;
}
.linkButton input:hover{
  color:white;
  border: 2px solid white;
  background: #353535;
}
a{
  color:#c70039;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #900c3f;
}

.projectImage{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0!important;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.projectImage:hover .projectInformation{
  opacity: 1;
}
.projectImage img{
  width: 100%;
}

.projectInformation{
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.5s;

  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  opacity: 0;
  /*margin-top: -50%; */
}
.projectInformation a{
  display: block;
  margin-top: 10px;
}
.projectInformation h4{
  font-size: 1.5em;
}

label{
  display: block;
  width: 100%;
  text-align: right;
  vertical-align: middle;
}
#Form .row div{
  margin-bottom: 40px;
}
input[type=text],textarea, input[type=email]{
  width: 80%;
  float:left;
  margin-left: 0;
  background: #494949;
  border: #353535;
  padding: 20px;
  transition: all 0.5s;
}
input[type=text]:focus,textarea:focus, input[type=email]:focus{
  background: white;
  color: #353535;
}

#contactMeForm{
  margin-top: 2em;
}
@media(min-width:1200px){

}
@media (min-width: 992px) and (max-width: 1199px){
  .grid{
    width: 80%;
  }
}
/*******************small devices*********************/
@media (min-width: 768px) and (max-width: 991px){
  .exp-year{
    /*padding: 5px 0px;*/
    font-size: 1.0em;
  }
  .exp-no{
    padding: 5px 10px;
  }

  .exp-other{
    width:64.5%;
  }
  .single-exp::before {
      left: 15px;
    }
    #expTimeline .exp-details{
      /*padding-bottom:10px;*/
    }
    .mainHeading h1{
      margin-bottom: 10px;
    }
    .heading{
      margin-bottom: 15px;
      width: 80%;
    }

    .timeline .row{
      width: 80%;
    }
    .grid{
      width: 80%;
    }


}
/*******************small devices*********************/

/*******************extra small devices*********************/
@media (max-width: 767px){

  .heading{
    margin-bottom: 15px;
    width: 80%;
  }
  #expTimeline .exp-details{
    padding-bottom:30px;
  }
  .timeline .row{
    width: 80%;
  }
  .mainHeading h1{
    margin-bottom: 10px;
  }

  label{
    text-align: center;
    padding: 0;
    margin-top: 20px;
  }

  input[type=text],textarea, input[type=email]{
    width: 100%;
    margin-top: 0;
    position: relative;
    padding: 20px;
  }
  #Form .row div{
    margin-bottom: 0px;
  }
  .projectInformation{
    /*display: block;*/
    position: relative;
    opacity: 1;
    background: none;
    color: #353535;
    float: none;
  }
  .project{
    display: block;
  }
  .projectImage{
    margin: 0;
  }
  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #353535;
    margin: 1em 0;
    padding: 0;
    width: 100%;
  }
}
/*******************extra small devices*********************/
@media (max-width: 539px){
  .timeline .row{
    width: 110%;
  }
  .mainHeading h1{
    font-size: 1.5em;
    width: 100%;
  }
  .mainHeading h2{
    font-size: 1.2em;
    width: 100%;
  }
  .exp-institute{
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .exp-details h4{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: -10px;
    display:inline-block;
  }
  .exp-year{
    top:-10px;
  }


}

@media (max-width: 453px){
  .timeline .row{
    width: 120%;
    margin-top:-20px;
  }
  .exp-other{
    width:58.8%;
    margin-bottom: 40px;
  }

}
