/*font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
#1a1a1d
#4e4e50
#6f2232
#950740
#c3073f*/

*{
  box-sizing: border-box;
}

a:hover{
  color:transparent;
}

a:focus{
  border: 0px solid transparent!important;
  text-decoration: none!important;
  outline: none;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader.gif) center no-repeat #1a1a1d;
}
body{
  background-color: #1a1a1d;
  font-family:'Open Sans', sans-serif;
  color: white;
}
html,body {
  overflow-x: hidden;
}
h1{
  background-image: linear-gradient(to left,#950740, #c3073f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Open Sans Extrabold', sans-serif;
  font-weight: extrabold;
  font-style: italic;
  font-size: 3em;
  margin-top:0;
  display: block;
}
h3{
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  /* letter-spacing: 2px; */
}
.navbar-brand>img{
  margin-top: none!important;
  width:20px;
  /* padding: 0!important; */
}
.navbar-nav>li>a{
  font-family: 'Open Sans Light', sans-serif;
  color: #4e4e50;
  font-size: 1.5em;
  margin-left:0.5em;
  transition: 0.5s;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: transparent!important;
  color:#6f2232;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:focus{
  color: #c3073f;
  background-color: transparent!important;
}

.navbar-brand, .navbar-brand:focus{
  color:#c3073f;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:unfocus{
    background-color: transparent !important;
    color:#c3073f!important;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #c3073f;
}
/* @media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
} */

.parent-center {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
.child-center {
  width: 55%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
}
.centerdiv{
  margin:0 auto;
  text-align: center;
  display: block;
}

.picture-outline{
  border: 8px solid transparent;
  border-image: linear-gradient(to left, #950740 0%, #c3073f 100%);
  border-image-slice: 10;
  border-width: 8px;

  width: 200px;
  height: 200px;
  margin-top: -20px;
}
.picture img{
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.icon-holder a{
  display: inline;
  margin-right: 10px;

}
.icon-holder i{
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid #c3073f;
  display: inline-block;
  margin-top: 35px;
  transition: 0.5s;
}
.icon-holder:hover i{
  background-color: #c3073f;
  color: #1a1a1d;
}
.download-buttons{
  display: inline-block;
  width: 100%;
}
div.download{
  display:inline-block;
  border: 2px solid #c3073f;
  padding: 5px;
  margin-top: 10px;
  transition: 0.5s;
  margin-right: 10px;
}
div.download>a{
  color: #c3073f;
  font-family: 'Open Sans Light', sans-serif;
}
div.download:hover{
  background-color: #c3073f;
  color:#1a1a1d;
  text-decoration: none;
}
div.download:hover > a{
  color: #1a1a1d;
  text-decoration: none;
}
.grid{
  height: 50vh;
  width: inherit;
  padding-left: 0;
}

/* ---- .grid-item ---- */

.grid {
  /* height: 75%; /* inherit height from body */
  /* background-color: rgba(0,0,0,0.5); */
  padding-bottom: 10px;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  /* height: 100px; */
  /* border-color: hsla(0, 0%, 0%, 0.7); */
  margin-right: 10px;
  overflow: hidden;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item>img{
  width: 200px;
  /* transition: 0.5s; */
}
.projects-holder{
  overflow-x:scroll;
  overflow-y: hidden;
}
/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4e4e50;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f2232;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c3073f;
}

.filters{
  /* position: fixed; */
  margin-bottom: 10px;
  margin-top: 20px;
  /* width: 90vw; */
}

.filters>button:hover {
  /* background-color: #950740; */
  color: #950740;
  border: 1px solid #950740;
}

.filters>button:focus, .filters>.is-checked{
    background-image: linear-gradient(to left,#950740, #c3073f);
    border:1px solid #c3070f;
    color: #1a1a1d;
}
.filters>button{
  background-color: transparent;
  border: 1px solid #4e4e50;
  color: #4e4e50;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  transition: 0.5s;
}
.filters button:focus{
  outline: 1px solid #c3073f;
  border: 1px solid #c3073f;
  background-image: linear-gradient(to left,#950740, #c3073f);
  color: #1a1a1d;
}
.projectPrev{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ;
  -webkit-transition: 0.5s;
}
.fa{
  color: #c3073f;
}
.fa.projectsIcon{
  font-size: 2em;
  margin-right: 20px;
}
.project>.container>div>h1{
  display: inline;
  padding: 0;
  margin-top: 10px;
}
.projectPrev>h3{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.5em;
}
.projectInfo>div>p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.1em;
}
.projectInfo>div>h1{
  display: inline;
}
.projectInfo>div>a{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 10px;
  outline: 1px solid #c3073f;
  color: #c3073f;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
.projectInfo{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.hideIcon{
  margin: 20px;
  padding: 10px;
  position: absolute;
  top:0;
  right:0;

  border: 1px solid white;
  transition: 0.5s;
}
.hideIcon:hover{
  cursor: pointer;
  color: #c3073f;
  bordeR: 1px solid #c3073f;
}
hr{
  width: 10%;
  align: left;
  /* position: absolute; */
}

.grid-item:hover > .projectPrev{
  visibility: visible;
  opacity: 1;
}
.grid-item:hover > img{
  filter: blur(5px);
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  color: #c3073f;
}
.details{
  font-style: italic;
}
ul.education-ul>li, ul.experience-ul>li{
  border-bottom: 1px solid #4e4e50;
  padding-bottom: 10px;
  margin-bottom: 10px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.education-ul>div>div>div,.experience-ul>div>div>div{
  padding-right: 20px;
}
input[type=text], textarea{
  background: none;
  box-shadow: none;
  border:none;
  border-bottom: 1px solid #4e4e50;
  width: 30%;
  font-size: 1.2em;
  margin-top: 20px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}
input[type=text]:focus, textarea:focus{
  border:none;
  outline:none;
  border-bottom: 1px solid #c3073f;
  background:none;
}
textarea{
  height: 10px;
  box-sizing: border-box;
  margin-left: 5px;
}
.send-button{
  padding: 5px;
  border: none;
  background-color: transparent;
  border: 1px solid #c3073f;
  transition: 0.5s;
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  color: #c3073f;
}
.send-button:hover{
  background-color: #c3073f;
  /* padding: 15px; */
  color:#1a1a1d;
}
.send-button>i{
  transition: 0.5s;
  margin-right: 10px;
  margin-left: -10px;
}
.send-button:hover>i{
  color:#1a1a1d;
}
.form-icon{
  margin-right: 10px;
  position: relative;
}
.contactHeader{
  text-align: center;
  margin-bottom: 20px;
}
.form-icon.message-icon>i{
  position: absolute;
  /* margin-top: -50px; */
  top:-8px;
  left:-5px;
  margin-right: 10px;
  /* border: 2px solid red; */
}
@media only screen and (max-width: 1200px) {
    .child-center{
      width: 65%;
    }
}
@media only screen and (max-width: 992px) {
    .child-center{
      width: 82%;
    }
}

@media only screen and (max-width: 768px) {
    h1{
      margin-top: 2em;;
      text-align: center;
    }
    h3{
      text-align: center;
    }
    .icons.centerdiv{
      width: 40%;
      margin: 0 auto;
    }
    ul.nav{
      /* background-color: #1a1a1d!important; */
      background-color: transparent!important;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      border-right: 1px solid #c3073f;
      border-left: 1px solid #c3073f;
      border-bottom: 1px solid #c3073f;backdrop-filter: blur(10px);
    }

    nav.navbar{
      margin-bottom: 0;
    }

    #navbar>ul>li{
        background-color: #1a1a1d!important;
        z-index: 1!important;
    }
    #pictureDiv{
      margin-top:2em;
    }
    .child-center{
      width: 90%;
    }
    .filters{
      /* width: 100vw; */
    }

    .project>div>div.child-center{
      width: 80%;
    }

    .projectInfo>div>a{
      text-align: center;
      display: block;
      position: relative;
      top: 10px;
      padding: 10px;
      outline: 1px solid #c3073f;
      color: #c3073f;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 3em;
    }

    .projectInfo>div>p{
      margin-top: 2em;
    }
    .projects-holder{
      width: 100%;
      max-height: 55vh;
    }

    .grid{
      /* padding-left:10%; */
      padding: 0!important;
      margin:0 auto;
    }

    .grid-item{
      width: 300px;
      padding:0!important;
      margin-bottom: 20px;
    }
    .grid-item>img{
      /* width: 200px; */
      /* height: 200px; */
      width: 100%;
    }
    .experience>div>div.child-center{
      width: 90%;
      transform: translate(-45%, 0%);
      position: relative;
      left:50%;
      padding: 0px;
    }
    .experience-ul>li>h3, .education-ul>li>h3{
      font-size: 1.2em;
      text-align: left!important;
    }
    .contact>div>div.child-center{
      width: 100%;
    }
    input[type=text], textarea{
      width:50%;
    }
}

@media only screen and (max-width: 576px) {
    h1{
      margin-top: 2.5em;
      font-size: 2em;
      text-align: center;
    }
    h3{
      font-size: 0.8em;
    }
    .icons.centerdiv{
      width: 100%;
      margin: 0 auto;
    }
    .child-center{
      margin-top: 20px;
      width: 65%;
    }
    .picture-outline{
      width: 150px;
      height: 150px;
      margin-top: -10px;
    }
    .picture img{
      width: 150px;
      margin-left: 10px;
      margin-top: 10px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }

}
