/*
#581845
#900c3f
#c70039
#FF5733
#FFC300
#EEEBE3
*/
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1{
  font-family: 'Sintony', sans-serif;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}
h2{
  text-align: center;
}.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.centerDiv{
    text-align:center;
    position:relative;
    margin:auto;
}
.page {
  float: left;
  width: 100%;
  height: 100%;
}

.docScroller {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;

    /* older spec implementation */
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;


  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
}


#Introduction {
  background: radial-gradient(white,#dadada);
  background: -webkit-radial-gradient(white,#dadada);
  background: -moz-radial-gradient(white,#dadada);
  height: 100%;
  color:black!important;
}
#Education {
  background: radial-gradient(#0b0b0b,black);
  background: -webkit-radial-gradient(#0b0b0b,black);
  background: -moz-radial-gradient(#0b0b0b,black);
  margin: 0;
}
#Designs {
  background: radial-gradient(white,#dadada);
  background: -webkit-radial-gradient(white,#dadada);
  background: -moz-radial-gradient(white,#dadada);
  margin: 0;
}
#Artworks {
  background: radial-gradient(#0b0b0b,black);
  background: -webkit-radial-gradient(#0b0b0b,black);
  background: -moz-radial-gradient(#0b0b0b,black);
  margin: 0;
}
#Projects{
  background: radial-gradient(white,#dadada);
  background: -webkit-radial-gradient(white,#dadada);
  background: -moz-radial-gradient(white,#dadada);
  margin: 0;
}
#ContactMe{
  background: radial-gradient(#0b0b0b,black);
  background: -webkit-radial-gradient(#0b0b0b,black);
  background: -moz-radial-gradient(#0b0b0b,black);
  margin: 0;
}
/***************Loading Icon**************************************/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #675a55;
}
/***************Loading Icon**************************************/
/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   font-family: 'Poppins', sans-serif;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav div{
  padding-top: 50px;
}
/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   display: block;
   transition: left 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
/*************Animate Toggle*******************/
.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 60px;
  height: 60px;
  font-size: 0;
  margin: 20px;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  z-index:1;
  background: rgba(1,1,1,0.6);
  border-radius: 10%;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 28px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #fff ;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -15px;
}

.c-hamburger span::after {
  bottom: -15px;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
button{
  background: none;
}
/*************Animate Toggle*******************/

#myPicture{
  display:block;
  margin: 0px auto ;
  border-radius:  50%;
  border: solid black 2px;
  height: 200px;
  width:  200px;
}
#name{
  font-family: 'Sintony', sans-serif;
  text-align: center;
}
#profession{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}
#socialLinks svg{
  width: 45px;
  height: 45px;
  margin: 0 10px 0px;
  position: relative;
  margin-top: 0px;
}
#socialLinks{
  margin-top: 20px;
  height: inherit;
  display:block
}
#Education, #Artworks{
  padding-top: 0px;
  color: white!important;
}
#Education .mainHeading h1, #Artworks .mainHeading h1{
  background: white;
  color: black;
}
#Education>.container-fluid>.row{
  width: 70%;
}
.heading{
  text-align: center;
  color: white;
  width: 100%;
  border: 2px solid white;
  margin-bottom: 40px;
}
.container-fluid{
  width: 100%;
}
.mainHeading h1{
  font-size: 4em;
  margin-bottom: 40px;
}
.single-exp{
  position: relative;
  height: 100%;
  width: 100%;
}
.single-exp{
  padding: 0;
  height: 100%;
  /****fix div no height****/
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row{
  /****fix div no height****/
    overflow: hidden;
}
.single-exp::before {
    background-color: white;
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 2px;
  }
.last::before{
  width: 0px;
}
  .single-exp div{
    height: 100%;
  }
.exp-no{
  position: absolute;
  left:0px;
  border: 2px solid white;
  padding: 10px 15px;
  background: black;
  color:white;
}
p{
white-space: initial;
display: inline;
}
.exp-year{
  text-align: center;
  left:0px;
  padding: 8px 15px;
  font-weight: bold;
  position: absolute;
  text-align: cnter;
  width: 100%;
}
.exp-other{
  text-align: left;
  padding-bottom: 30px;
  padding-left: 25px;
}
.timeline{
  width: 100%;
}
#Education span{
  white-space: initial;
}
.timeline h4{
  display: inline;
}
.timeline h4::before{
  display: block;
  content: "";
  margin: 10px;
}
.ExpOrEd{
  margin-top: 20px;
}
.exp-institute{
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}
#expTimeline .exp-details{
  display: block;
  padding-bottom: 60px;
}

#Designs{
  color: black!important;
}
#Designs .mainHeading h1{
  background: black;
  color: white;
  margin-bottom: 20px;
}
.grid{
  width: 60%;
  margin-top: 40px;
  position: relative;
}
.content {
  width: auto;
	margin: 0 auto;
}

.item {
	display: block;
	float: left;
	width: 120px;
	margin: 0 10px 10px 0;
  opacity: 0;
  transition: all 0.5s;
  transform-origin: center;
  box-shadow: 10px 10px 10px rgba(1,1,1,0.15);
}

.item img {
	width: 100%;
	height: auto;
}
.item:hover{
    box-shadow: 10px 10px 10px rgba(1,1,1,0.5);
    transform: scale(1.5,1.5);

}
.item img:hover{
  cursor: pointer;
}
.displayImage{
  z-index: 6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1,1,1,0.5);
  display: none;

flex-direction: column;
justify-content: center;
}

.imageLarge{
  
}
.imageLarge img{
  max-width:90vw;
  max-height:90vh;
  /*width: 100%;*/
}
@media (min-width: 992px) and (max-width: 1199px){
  .grid{
  width: 80%;}
  .item {
    width: 120px;
  }
}
/*******************small devices*********************/
@media (min-width: 768px) and (max-width: 991px){
  .exp-year{
    /*padding: 5px 0px;*/
    font-size: 1.0em;
  }
  .exp-no{
    padding: 5px 10px;
  }

  .exp-other{
    width:64.5%;
  }
  .single-exp::before {
      left: 15px;
    }
    #expTimeline .exp-details{
      /*padding-bottom:10px;*/
    }
    .mainHeading h1{
      margin-bottom: 10px;
    }
    .heading{
      margin-bottom: 15px;
      width: 80%;
    }

    .timeline .row{
      width: 80%;
    }
    .item {
      width: 100px;
    }  .grid{
      width: 80%;}
}
/*******************small devices*********************/

/*******************extra small devices*********************/
@media (max-width: 767px){

  .heading{
    margin-bottom: 15px;
    width: 80%;
  }
  #expTimeline .exp-details{
    padding-bottom:30px;
  }
  .timeline .row{
    width: 80%;
  }
  .mainHeading h1{
    margin-bottom: 10px;
  }
  .item {
    width: 70px;
  }.grid{
    width: 100%;
    margin-top: 20px;}

}
/*******************extra small devices*********************/
@media (max-width: 539px){
  .timeline .row{
    width: 110%;
  }
  .mainHeading h1{
    font-size: 1.5em;
    width: 100%;
  }
  .mainHeading h2{
    font-size: 1.2em;
    width: 100%;
  }
  .exp-institute{
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .exp-details h4{
    font-size: 1em;
    margin-bottom: 0;
    margin-top: -10px;
    display:inline-block;
  }
  .exp-year{
    top:-10px;
  }
}

@media (max-width: 453px){
  .timeline .row{
    width: 120%;
    margin-top:-20px;
  }
  .exp-other{
    width:58.8%;
    margin-bottom: 40px;
  }

}
