
 <div class="project" controller="projectsController">
   <div class="container">
    <div class="projectInfo ng-class:{ 'hidden': isHidden };">
    <span class="glyphicon glyphicon-remove hideIcon" ng-click="ClickCross()" aria-hidden="false"></span>
      <div class="child-center"></i><h1>{{projectName}}</h1>
        <hr align="left" class="visible-lg visible-md visible-sm">
        <p>{{projectInfo}}</p>
        <a href="{{projectLink}}" target="_blank">Link</a>
      </div>
    </div>
     <div class="row child-center ">

       <i class="fa fa-briefcase projectsIcon"></i><h1>Projects</h1>
       <div class="filters">
         <button type="button" ng-click="allFilter()" name="button" data-filter="*" class="button is-checked">All</button>
         <button type="button" ng-click="GDFilter()" name="button" data-filter="graphic-design" class="button">Graphic Design</button>
         <button type="button" ng-click="gameFilter()" name="button" data-filter="game-development" class="button">Game Development</button>
         <button type="button" ng-click="otherFilter()" name="button" data-filter="other" class="button">Other</button>
       </div>
        <div class="centerdiv projects-holder ">
          <div class="grid col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <a href="" class="center-div grid-item {{x.category}}" ng-click="ClickProject($index)" ng-repeat="x in projects">
              <img ng-src="images/projects/{{x.image}}" alt="">
              <div class="projectPrev"><h3>{{x.name}}</h3></div>
            </a>

          </div>

        </div>
     </div>
   </div>
 </div>
<script type="text/javascript">

function onRenderReadyStartIsotope(){
  var $grid;
    $grid = $('.grid').imagesLoaded( function() {
      $('.grid').isotope({
        layoutMode: 'masonryHorizontal',
        itemSelector: '.grid-item',
        masonryHorizontal: {
          rowHeight: 10,
          gutter: 20
        }
      })
    });

  $('.filters').each( function( i, buttonGroup ) {
    var $buttonGroup = $('.filters' );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });

  $(".se-pre-con").fadeOut();

}
</script>
